/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);
/*-----------------------
General
----------------*/
html {
	
}

img {
    max-width: 100%;
    max-height: 100%;
}
video {
    max-width: 100%;
    max-height: 100%;
}
body{
	margin: 0px;
	font-family: "Raleway",sans-serif;
	overflow-y: scroll;
	color:#33086E;
	line-height: 25px;
	letter-spacing: 0.6px;
}
h1
 {
	font-weight: 400;
	letter-spacing: 0.6px;
	font-family: "Raleway", Sans-serif;
	color:#33086E;

	font-size: 30px;
}
h2,h3{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #38333f;
}

}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: 300;
	line-height: 35px;
	letter-spacing: 0.6px;
	color:	#33086E;
	line-height: 30px;
}
a{
	font-size: 17px;
	font-family: "Raleway", Sans-serif;
	font-weight: 300;
	letter-spacing: 0.4px;
	color: #8514ff;
}
h5{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 350;
	line-height: 28px;
	letter-spacing: 0.6px;
	color:#33086E;
}



/*section {
	padding: 35px 0 60px;
}*/
.container{ 
 
  width:  100%;
}


@media (min-width: 768px) and (max-width: 990px) {
  .navigation {
    background: rgba(0, 0, 0, 0.3); }
    .navigation .navbar-brand {
      float: none; } }


/*//////////////////////////nav&logo////////////////*/
.navbar_container {
	padding-top: 4%;
}

.navbar {
	padding-left: 0px;
	margin-left: 0px; 
}

/*///////////headvideo//////////*/
.headvideo{margin-top: 30px;}

/*//////////////////introduction//////////////////*/
.lebelcontent{padding-left: 5px;margin-left: 10px; margin-top: 10px;}
.text-center {
  text-align: center; }

.introtitle{margin-top: 50px;margin-bottom: 0;}

.miphoto{
	position: static;
	margin-top: 50px;
}
/*///////////mi animation////////////*/





/*////////////////problem&solution///////////*/
.problem{margin-top: 70px;margin-bottom: 30px;}
.pro-sol{
	overflow: hidden;
	
}

.problemsection{
	overflow: scroll;
}
.ul.solutionpar.propar
{
	 list-style-position: outside;
}

.Solutions{margin-top: 75px;margin-bottom: 15px;}

/*/////////////////features///////////////*/

.features{margin-top: 65px;margin-bottom: 15px;}

.feature-container-1 {
	width:100%;
	max-height: 350px;
	
	/*position:fixed;*/
	top:20;
	right:0;
	z-index: 100;
}

.feature-container-2 {
	width:90%;
	min-width: 354px;
	top:20;
	right:0;
	z-index: 1000;
}

.feature-container-3 {
	width:95%;
	top:20;
	right:0;
	z-index: 1000;
}

.feature-container-4 {
	width:95%;
	top:20;
	right:0;
	z-index: 1000;
}


.architecture{margin-top: 80px;margin-bottom: 35px;}

.inforsketch{margin-top: 75px;margin-bottom: 25px;}

.usertask1{margin-bottom: 25px;margin-top: 65px;}

.taskflow1{margin-bottom: 25px;margin-top: 65px;}
.flow1{margin-top: 185px;}
.interaction-deisgn{margin-top: 70px;
margin-bottom: 15px;}
.headvideo{margin-bottom: 20px;}
.usertask2{margin-top: 70px;}
.flow2{margin-top: 180px;}
.interaction2{margin-top: 65px;margin-bottom:25px;}
.taskvideo-2{margin-bottom: 100px;}
.link{margin-bottom: 85px;}

footer{margin-top: 160px; }

.Related-works{margin-top: 45px;}













