/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);
/*-----------------------
General
----------------*/
html {
	
}

img {
    max-width: 100%;
    max-height: 100%;
}
video {
    max-width: 100%;
    max-height: 100%;
}
body{
	margin: 0px;
	font-family: "Raleway",sans-serif;
	overflow-y: scroll;
}
h1
 {
	font-weight: 300;
	letter-spacing: 0.6px;
	font-family: "Raleway", Sans-serif;
	color: #38333f;
	font-size: 30px;
}
h2,h3{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #38333f;
}

}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 2px;
	color:	#808080;
	line-height: 150%;
}
a{
	font-size: 17px;
	font-family: "Raleway", Sans-serif;
	font-weight: 300;
	letter-spacing: 0.4px;
	color: #8514ff;
}




section {
	padding: 35px 0 60px;
}
.container{ 
 
  width:100%; 
}


@media (min-width: 768px) and (max-width: 990px) {
  .navigation {
    background: rgba(0, 0, 0, 0.3); }
    .navigation .navbar-brand {
      float: none; } }

/*//////////////////////////nav&logo////////////////*/
.nav-item{margin-top: 50px;}
.nav{
	position:relative;
}
.logoimg{float: left;
margin-right: 700px;}
/*///////////headvideo//////////*/
.headvideo{margin-top: 30px;}

/*//////////////////introduction//////////////////*/
.text-center {
  text-align: center; }

.introtitle{margin-top: 50px;margin-bottom: 0;}

.miphoto{
	position: static;
	margin-top: 50px;
}
/*///////////mi animation////////////*/





/*////////////////problem&solution///////////*/
.pro-sol{
	overflow: hidden;
	
}

.problemsection{
	overflow: scroll;
}
.ul.solutionpar.propar
{
	 list-style-position: outside;
}

/*/////////////////features///////////////*/



.feature-container-1 {
	width:100%;
	max-height: 350px;
	
	/*position:fixed;*/
	top:20;
	right:0;
	z-index: 100;
}

.feature-container-2 {
	width:90%;
	min-width: 354px;
	top:20;
	right:0;
	z-index: 1000;
}

.feature-container-3 {
	width:95%;
	top:20;
	right:0;
	z-index: 1000;
}

.feature-container-4 {
	width:95%;
	top:20;
	right:0;
	z-index: 1000;
}



































