/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);
/*-----------------------
General
----------------*/
html {
	
}

img {
    max-width: 100%;
    max-height: 100%;
}
video {
    max-width: 100%;
    max-height: 100%;
}
body{
	margin: 0px;
	font-family: "Raleway",sans-serif;
	overflow-y: scroll;
}
h1
 {
	font-weight: 300;
	letter-spacing: 0.6px;
	font-family: "Raleway", Sans-serif;
	color:#4E619E;
	font-size: 25px;
	font-weight: bold
}
h2{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 1px;
	color: #4E619E;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #4E619E;
}
h4{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #adadeb;
}
h5{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #4E619E;
}
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 2px;
	color:	#808080;
	line-height: 150%;
}
a{
	font-size: 17px;
	font-family: "Raleway", Sans-serif;
	font-weight: 300;
	letter-spacing: 0.4px;
	color: #8514ff;
}




section {
	/*padding-top:70px;*/
}
.container{ 
 
width:100%}


@media (min-width: 768px) and (max-width: 1200px) {
  .navigation {
    background: rgba(0, 0, 0, 0.3); }
    .navigation .navbar-brand {
      float: none; } }



/*//////////navigation////*/

.nav-item{margin-top: 50px;}

.logoimg{float: left;
margin-right: 700px;}

/*//////////////content////*/

.deaderimg{margin-top: 30px;}

.smalldiscription{float: right; padding-top: 15px;
padding-bottom: 35px;}

.statement{padding-top: 110px;margin-top: 10px;}
.videoimg{margin-top: 30px;}

.problemimg{float: right;
position: relative;
margin-top: -100px}
.problemcontent{
	
}
.Needs{
position: relative;}
.solutionimg{
	margin-top: 110px;
}
.solution{margin-top: 70px;padding-top: 20px;}

.information_title{margin-top: 130px;}
.informationimg{
	
	margin-left: 70px;
	padding-top: -20px;
}

.TaskFlow-title{
	margin-top: 60px;
}
.taskimg-1{
	margin-top: 40px;
}
#valentia1{
	margin-top: 20px;
}
hr{
	  display: block;
    margin-top: 5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
   
    border-width: 1px;
   color:#4E619E;
}
.taskimg-2 {
	margin-top: 40px;
}
#valentia2{
	margin-top: 50px;

}
.taskimg-3 {
	margin-top: 60px;
	position: relative;
}
#valentia3{
	position: relative;
	margin-top: 50px;
	width: 100%;
}
.Appdesign{
	margin-top: 50px;

}
.appdesign-content{margin-top: 70px;}
.prototype-1{
	margin-top:40px; 
	margin-left: 20px;
}
.prototype-2{
	margin-left: 30px;
	margin-top: 30px;
}

/*///////////////////carousel-indicators"/////////*/


#carouselExampleIndicators{
	margin-top: 30px;
	margin-bottom: 50px;
}
.appdesign{margin-top: 100pxh1	}


/*/////////*/
.moodboard{
	margin-top: 100px;
}
.moodimg{
	position: relative;
	margin-bottom: 70px;
}

/*/////*/


#case-button{
	padding-left: 260px;
	padding-right: 260px;
	padding-top:15px;
	padding-bottom: 15px;
}
.button-case{
	margin-top: 150px;margin-bottom: 100px;
}

.Related-works{
	margin-bottom: 40px;
}

/*/////////////*/

.title-1{padding-top: 20px;
margin-bottom: 170px;}







