/* main font for menu. */
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);*/
/*-----------------------
General
----------------*/
html {
	
}

img {
    max-width: 100%;
    max-height: 100%;
}
video {
    max-width: 100%;
    max-height: 100%;
}
body{
	margin: 0px;
	font-family: "futura-pt",sans-serif;
	overflow-y: scroll;
	background-color: pink;
}
h1
 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color:red;
}
h2{
	font-family: 'futura-pt', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 1px;
	color: #4E619E;
}

h3{
	font-family: 'futura-pt', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #4E619E;
}
h4{
	font-family: 'futura-pt', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #adadeb;
}
h5{
	font-family: 'futura-pt', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.6px;
	color: #4E619E;
}
}
p {
	font-family: 'futura-pt', sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 2px;
	color:	#808080;
	line-height: 150%;
}
a{
	font-size: 17px;
	font-family: "Raleway", Sans-serif;
	font-weight: 300;
	letter-spacing: 0.4px;
	color: #8514ff;
}




section {
	/*padding-top:70px;*/
}
.container{ 
 
width:100%}


@media (min-width: 768px) and (max-width: 1200px) {
  .navigation {
    background: rgba(0, 0, 0, 0.3); }
   
  .navigation .navbar-brand {
      float: none; } }






/*//////////navigation////*/

.nav-item{margin-top: 50px;}

.logoimg{
	float: left;
	margin-right: 700px;
}

.nav{
	position:relative;
}